<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working with Ajax</title>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

</head>
<body>
    <form id="ajax_render">
        {% csrf_token %}
        <input type="text" name="name" id="name">
        <input type="submit" name="" id="">
    </form>

    <script>
        $(document).on('submit','#ajax_render', function(e){
            e.preventDefault()

            $.ajax({
                type: 'POST',
                url:'/ajax',
                data: {
                    name: $('#name').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },

                success: function(data){
                    alert(data)
                }
            }
            );
            document.getElementById('name').value = ''
        });
    </script>
</body>
</html>